<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout102</title>
    <style>
        #wrap {}
        #header {}
        #banner {}
        #contents {}
        #footer {}
    </style>
</head>
<body>
    <div id="wrap">
        <header id="header"></header>
        <nav id="banner"></nav>
        <section id="contents"></section>
        <footer id="footer"></footer>
    </div>
</body>
</html>